# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.env
.idea/
# config Datei, replace the usual .env because there are no sensible data like API Keys in that project
config.py